@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">
        <h1 style="padding-bottom:40px;">Let's play a game of Tic Tac Toe !</h1>
        @Body
    </div>
</div>
